.submit__button{
    color: white;
    background-color: #4E75FF;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 8px;
    border-color: transparent;
    margin-top: 24px;
    height: 40px;
}

.submit__button:hover{
    background-color: #6C8CFF;
}
.fieldset{
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 64px;
    border-width: 1px;
    border-radius: 1px;
    border-color: #808080;
    margin: 0px;
    padding: 2px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 360px;
}

.input__delay{
    width: 360px;
    height: 40px;
    border-color: #808080;
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 16px;
    /* padding: 0px; */

}

.input__delay:hover{
    border-color: #000000;

}

.input__delay:active{
    border-color: #4E75FF;

}

.input__rejected{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 5px;
    padding: 0px;
}

.input__fulfilled{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 5px;
    padding: 0px;
}

.state_label{
    display: flex;
}